.big-banner{
	background-image:url('/resources/img/groceries.jpg');
	background-size: cover;
}

.custom-bg{
	background:#673ab7 !important;
}


.list-group-item.active{
	color: #fff;
    background-color:#673ab7 !important;
    border-color:#673ab7 !important;
}

.admin-banner{
	background:#FFFDD0 !important;
}
